@using FolderProject.Models
@model Folder

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Folder: @Model.Name</h1>
    <p><a href="@Model.ParentPath">Back</a></p>

    @foreach (var item in Model.ChildFolders)
    {
        <p><a href="@item.CurrentPath">@item.Name</a></p>
    }
</body>
</html>